In [26]:
import pandas as pd
df=pd.read_csv("BL-Flickr-Images-Book.csv",encoding="ISO-8859-1") # encoding error s removed

In [27]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [28]:
#lets see our columns
df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [29]:
df.isnull().sum() # Missing data found

Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [30]:
df.count() # tells us total rows are 8287, since some columns are all NaN values, lets drop them.

Identifier                8287
Edition Statement          773
Place of Publication      8287
Date of Publication       8106
Publisher                 4092
Title                     8287
Author                    6509
Contributors              8287
Corporate Author             0
Corporate Contributors       0
Former owner                 1
Engraver                     0
Issuance type             8287
Flickr URL                8287
Shelfmarks                8287
dtype: int64

In [31]:
drop_columns= ["Edition Statement",'Corporate Author', 'Corporate Contributors', 'Former owner','Engraver', ]
df.drop(columns =drop_columns,inplace=True,axis=1)#axis=1 means drop the columns

In [32]:
df.columns

Index(['Identifier', 'Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Contributors', 'Issuance type',
       'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 10 columns):
Identifier              8287 non-null int64
Place of Publication    8287 non-null object
Date of Publication     8106 non-null object
Publisher               4092 non-null object
Title                   8287 non-null object
Author                  6509 non-null object
Contributors            8287 non-null object
Issuance type           8287 non-null object
Flickr URL              8287 non-null object
Shelfmarks              8287 non-null object
dtypes: int64(1), object(9)
memory usage: 647.5+ KB

In [34]:
df.duplicated().sum() # no duplicate entry in the data

0

In [35]:
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [36]:
#lets check the publication date column as it has discrepencies like 1879 [1878]
df["Date of Publication"].head(50)

0            1879 [1878]
1                   1868
2                   1869
3                   1851
4                   1857
5                   1875
6                   1872
7                    NaN
8                   1676
9                   1679
10                  1802
11                  1859
12                  1888
13           1839, 38-54
14                  1897
15                  1865
16               1860-63
17                  1873
18                  1866
19                  1899
20                  1814
21                  1820
22                  1800
23    1847, 48 [1846-48]
24               [1897?]
25               [1897?]
26                  1893
27                  1805
28                  1837
29                  1896
30                  1898
31                  1899
32                  1892
33                  1894
34              [1894-96
35                   NaN
36                  1899
37                [1885]
38               [1860?]
39                  1846
40                  1893
41                  1894
42                  1817
43                  1816
44                  1817
45                  1897
46                [1833]
47                  1804
48                  1859
49                  1777
Name: Date of Publication, dtype: object

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 10 columns):
Identifier              8287 non-null int64
Place of Publication    8287 non-null object
Date of Publication     8106 non-null object
Publisher               4092 non-null object
Title                   8287 non-null object
Author                  6509 non-null object
Contributors            8287 non-null object
Issuance type           8287 non-null object
Flickr URL              8287 non-null object
Shelfmarks              8287 non-null object
dtypes: int64(1), object(9)
memory usage: 647.5+ KB

In [38]:
df["Date of Publication"].isnull().sum()     # 181 bad values

181

In [39]:
# how to list thosebad values
list1=df["Date of Publication"].tolist()

In [40]:
list1 # converting the listinto string

['1879 [1878]',
 '1868',
 '1869',
 '1851',
 '1857',
 '1875',
 '1872',
 nan,
 '1676',
 '1679',
 '1802',
 '1859',
 '1888',
 '1839, 38-54',
 '1897',
 '1865',
 '1860-63',
 '1873',
 '1866',
 '1899',
 '1814',
 '1820',
 '1800',
 '1847, 48 [1846-48]',
 '[1897?]',
 '[1897?]',
 '1893',
 '1805',
 '1837',
 '1896',
 '1898',
 '1899',
 '1892',
 '1894',
 '[1894-96',
 nan,
 '1899',
 '[1885]',
 '[1860?]',
 '1846',
 '1893',
 '1894',
 '1817',
 '1816',
 '1817',
 '1897',
 '[1833]',
 '1804',
 '1859',
 '1777',
 '1799',
 '1827',
 '1866',
 '1853',
 '1874',
 '1790',
 '[1817.]',
 '1883',
 '1795',
 '1865',
 '1877',
 '1853',
 '1886, [1885]',
 '[1834]',
 '1852-63',
 '1857',
 '1866, 76',
 '1869',
 '1853',
 '1875',
 '1827',
 '1828',
 '1876',
 '1758',
 '1846',
 '1880',
 '1823',
 '1887',
 '1825',
 '1850',
 '1810',
 '1889',
 '1872',
 '1892',
 '[1860,] 1861-1863',
 '[1872]',
 '1872',
 '1861',
 '[1874.]',
 '1858 [1851-58]',
 '1860',
 '1857',
 '1857 [1856]',
 '[1896]',
 '1878',
 '1857',
 '1821',
 '1897',
 '1891',
 '1827',
 '1808',
 '1868',
 '1886',
 '1860',
 '1810',
 '1886',
 '1880',
 '1849',
 '1860',
 '1724',
 '1772',
 '1812-15',
 '1873',
 '1851',
 '1835',
 '1799',
 '1875',
 '1867',
 '1837',
 '1830',
 '1841',
 '1884, 85',
 '1880',
 '1872',
 '1837',
 '1863, [1862]',
 '[1820?]',
 '1884',
 '1894',
 '1887',
 '1883',
 '1808',
 '1848, 50',
 '1845',
 '1877',
 '1807',
 '1874[71]-88',
 '1867',
 '1892',
 '1880',
 '1873',
 '1860',
 '1878',
 '1846',
 '1864-72',
 nan,
 '1822',
 '1871',
 '1829',
 '1894',
 '1848',
 '1897',
 '1877',
 '1823',
 '1891',
 '1814',
 '1824',
 '1885, [1884]',
 '1877',
 '1891, 92',
 '1847',
 '1853',
 '1841',
 '1856',
 '1850',
 '1803',
 '1874',
 '1850',
 '1818',
 '1881',
 '1874',
 '1833',
 '1863',
 '1835',
 '1838',
 '1830',
 '1838',
 '1823',
 '1824',
 '1830',
 '1818',
 '1833',
 '1865',
 '1828',
 '[1894]',
 '1720',
 '1878',
 '1886',
 '[1879]',
 '1880',
 '1883',
 '[1898]',
 '1855, 56',
 '1853',
 '1894',
 '1747',
 '1748',
 '1704',
 '1887',
 '[1762?]',
 '1694 [1693]',
 '1889',
 '1839',
 '1888',
 '1846',
 '1851',
 '1848',
 '1891',
 '1859',
 '[1890]',
 '1876',
 '1899',
 '1875',
 '1895',
 '[1885?]',
 '1883',
 '1867',
 '1880 [76-80]',
 '1899',
 '1861',
 '[1898]',
 '1825',
 '1887',
 '1891 [1890]',
 '1870',
 '1874',
 '1899',
 '1809',
 '1877',
 '1853',
 '1879',
 '1760',
 '1862',
 '1865',
 '1830',
 '1897',
 '1898 [1897]',
 '1810',
 '1805',
 '1887',
 '1844',
 '1827',
 '1813',
 '1889',
 '1855',
 '1787',
 '1794',
 '1710',
 '1846',
 '1785',
 '1822',
 '1848',
 '1868',
 '1777',
 '1801',
 '1844',
 '1893',
 '1877-96',
 '1859-69',
 '1889, 94',
 '1883',
 '1898',
 '1851',
 '1887',
 '1882',
 '1877',
 '1840-83',
 '1824',
 '1819',
 '1824',
 '1881',
 '1823',
 '1892',
 '1867',
 '1898',
 '1651',
 '[1785.]',
 '1809',
 '1835',
 '1834, 1836',
 '1803',
 '1890',
 '1853',
 '1876',
 '1817',
 '1896',
 '1878 [1877]',
 '1852',
 '1862',
 '1882',
 '1850',
 '1883',
 '1845',
 '1899',
 '1812',
 '1813',
 '1884',
 '1842',
 '1860',
 '1889',
 '1868',
 '1856',
 '1744',
 '1728',
 '1876',
 '1818',
 '1886',
 '1885',
 '[1880?]',
 '[1885.]',
 nan,
 '1864',
 '1856',
 '1822',
 '1830',
 '1893',
 '1860 [1859]',
 '[1893]',
 '1881',
 '1805',
 '1806',
 '1831',
 '1874',
 '1868',
 '1820',
 '1801',
 '1865',
 '1872',
 '1744',
 '1895',
 '1898',
 '1779.]',
 '1876',
 '1877 [1876]',
 '1836',
 '1756',
 '1812',
 '1888',
 '1861',
 '1855',
 '1895',
 '1874',
 '1896, 1936',
 '1868, [1864-68]',
 '1843',
 '1873, 93',
 '1897',
 '1890',
 '1877',
 '1835',
 '1878',
 '1872, 73',
 '1896',
 '1897',
 '1897',
 '1895',
 '1896',
 '1882',
 '1892',
 '1842',
 '1823',
 '1827',
 '1857',
 '1869',
 '1846',
 '1858',
 '1853',
 '1792',
 '1847',
 '1847',
 '1850',
 '1868',
 '[1855.]',
 '1852',
 '1859',
 '1853',
 '1851',
 '1762',
 nan,
 '[1872]]',
 '1856',
 '1844',
 '[1858.]',
 '1858',
 '1836',
 '1875.]',
 nan,
 '[1836?]',
 '1896 [1895]',
 '1871',
 '1897, 98',
 '1887',
 '1894.]',
 '1879',
 '1852',
 '1872',
 '[1877]]',
 '1843',
 '1871',
 '1874',
 '1881',
 '1886, [1885]',
 '1837',
 '1883',
 '1892',
 '1876',
 '1847',
 '1891',
 '1878',
 '1856',
 '1895',
 '1874',
 '1896',
 '[1869.]',
 '1886',
 '1825-36',
 '1884',
 '1847',
 '1884',
 '1843',
 '1844',
 '1817',
 '1898',
 '1867',
 '1874',
 '1889',
 '1889',
 '1874',
 '1854',
 '1896',
 '1882',
 '1889',
 '1834',
 '1857',
 '1880',
 '1825',
 '1801',
 '1893',
 '1824, 1825',
 '1836',
 '1868-70',
 '1888, [1886]-93',
 '1852',
 '1864',
 '1888',
 '1888',
 '1899',
 '1879',
 '1865',
 '1868',
 '1867',
 '1874',
 '1897',
 '1884, 85',
 '1862-75',
 '1855',
 '1851',
 '1854-59',
 '1895',
 '[1888]',
 '1854',
 '1863, [1862]',
 '1825',
 '1853',
 '[1860.]',
 '1856',
 '1882',
 '[1879.]',
 '1875',
 '1876',
 '1841',
 '1842',
 '1894',
 '1825',
 '1843',
 '1731',
 '1770 [1815]',
 '1806',
 '1877',
 '1844',
 '1846',
 '1891',
 '1874',
 '[1880.]',
 '1835, [1735]',
 '1876',
 '1830',
 '1846',
 '1845',
 '[1852]',
 '1846',
 '1734',
 '1869',
 '1846',
 '1846',
 '1870 [1869]',
 '1870',
 '1846',
 '1838',
 '1863',
 '1891',
 '[1866.]',
 '1896',
 '1895',
 '1866',
 '1873',
 '1868',
 '1885',
 '[1886]',
 '[1891]',
 '[1888]',
 '[1892]',
 '[1889]',
 '[1872]',
 '1808',
 '1860',
 '1806',
 '1802',
 '1888',
 '[1880]',
 '1855',
 '1859',
 '[1850?]',
 '1821',
 '1890',
 '1891',
 '1898',
 '1893',
 '1860',
 '1884',
 '1775',
 '1775',
 '1894',
 '[1879.]',
 '1878',
 '1886',
 '1897',
 '1865 [1864, 65]',
 '1893',
 '1818',
 '1893',
 '1894',
 '1887',
 '1876',
 '[1846]',
 '1831',
 '1868',
 '1826',
 '1887',
 '1866',
 '1828',
 '1827, 1828',
 '1856',
 '[1896]',
 '1864',
 '1881',
 '1816',
 '1785',
 '1844',
 '1836, [1835, 1836]',
 '1852',
 '1864',
 '1862',
 '[1800.]',
 '1640',
 '1865',
 '1687',
 '1778',
 '1695',
 '[1710?]',
 '1749',
 '1878',
 '[1782.]',
 '1880',
 '1870, 72',
 '1858',
 '1876',
 '1843-45',
 '1863',
 '1888',
 '1840, 41',
 '1838',
 '1892',
 '1828',
 '1842',
 '1886, [1885]',
 '1841',
 '1843',
 '[1885]',
 '[1868-70.]',
 '1879',
 '1866',
 '[1851]',
 '1843',
 '1690',
 '1696',
 '1856',
 '1829, 39',
 '1847',
 '1878',
 '1850',
 '1851',
 '1850]',
 '[1836]',
 '1849',
 '1865',
 '1848',
 '1823',
 '1831',
 '[1889]',
 '1873',
 '1842',
 nan,
 '1866',
 '1768',
 '1899',
 '1898',
 '1875',
 '1860',
 '1887',
 '1854',
 '1849',
 '1878',
 '1864',
 '1897',
 '1887',
 '1858',
 '1819',
 '1863',
 '1885',
 '[1875?]',
 '1897',
 '1889',
 '1886',
 '1885',
 '[1890.]',
 '1892',
 '1893',
 '1843, 38-43',
 '1829, 30',
 '1828',
 '1868',
 '1871',
 '1895',
 '1871',
 '1870',
 '1880',
 '1857',
 nan,
 '[1807]',
 '[1842]',
 '1857',
 '1839',
 '1861',
 '1861',
 '1831',
 '[1897]',
 '1857',
 '1813.]',
 '[1892-1900]',
 '1845',
 '1882',
 '1888',
 '1826',
 '1882',
 '1863',
 '1885',
 '[1883.]',
 '1876',
 '1876',
 '1882 [1881]',
 '1899',
 '1814',
 '1871',
 '1888',
 '1899',
 '1878',
 '1876',
 '1895',
 '1878',
 '1873',
 '1880',
 '1881',
 '1879',
 '1875',
 '[1866-68.]',
 '1874-76',
 '1865',
 '1873',
 '1855',
 '1860-74',
 '1856',
 '[1810?]',
 '1869',
 '1862',
 '1790',
 '1877',
 '1800',
 '1716',
 '1774',
 '[1824.]',
 '1856',
 '1724',
 '[1801.]',
 '1877',
 '[1849]',
 '1887',
 '1893',
 '1890',
 '[1846, 47.]',
 '1893',
 '1810',
 '1898, [1897]',
 '1809',
 '1811',
 '1856',
 '1890',
 '1881',
 '1852',
 '1899',
 '1873',
 '1891',
 '1839',
 '1889',
 '1879',
 nan,
 '1848',
 '1874]',
 '1837',
 '1867',
 '1896',
 '1893]',
 '1830',
 '1880',
 '[1835?]',
 '1879',
 '1890',
 '1892',
 '1830',
 '1876',
 '1880',
 '1895',
 '1896',
 '1880',
 '1871',
 '1889',
 '1864',
 '1858',
 '1896',
 '1874',
 '1880, [1879]',
 '1867',
 '1881, [1880]',
 '1875',
 '1864',
 '1896',
 '1897',
 '1883 [1882]',
 '1860',
 '1882',
 nan,
 '1882',
 '1790',
 '1896',
 '1874',
 '[1866-1867]',
 '1899',
 '1897',
 '1858',
 '1866',
 '1867',
 '1889 [1888]',
 '1899',
 '1899',
 '[1886?]',
 '1865',
 '1896',
 '1894, [1893]',
 '1899',
 '1897',
 '1868',
 '1875',
 '1845',
 '1852',
 '[1883]',
 '1802',
 nan,
 '1879',
 '1882',
 '1842-45',
 '1850',
 '1867',
 '1898',
 '1847-57',
 '1796',
 '1864',
 '1892, 97',
 '1847',
 '1798',
 '1885, [1884]',
 '1861',
 '1862',
 '1896',
 '1827-38',
 '1879-83',
 '1828',
 '1842',
 '1863',
 '1888',
 '1870 [1866, 70]',
 '1877, 86',
 '1863',
 '[1891]',
 '1895',
 '1876',
 '1872',
 '1897',
 '1896',
 '1851',
 '1896',
 '1881',
 '[1820?]',
 '1837',
 '1896, 1877-1904',
 '1857',
 '1803',
 '[1810?]',
 '1868',
 '1864',
 '1890',
 '1849?]',
 '1893',
 '1895',
 '1891',
 '1852',
 '[1880.]',
 '1869',
 '[1880.]',
 '[1892.]',
 '[1844.]',
 '1871',
 '[1873-76.]',
 '1896',
 '1899',
 '1872',
 '1866',
 '1873',
 '1897',
 '1886',
 '1893',
 '1851',
 '1850',
 '1886',
 '1845',
 '1869',
 '1876',
 '1898',
 '1896',
 '1896',
 '[1899.]',
 '1825',
 '[1837-39]',
 '1882 [1881]',
 '1890, [1889]',
 '1810',
 '1868',
 '1871',
 '1829',
 '1773',
 '1894',
 '1826',
 '1890',
 '1875',
 '1885, [1884]',
 '[1865.]',
 '1891',
 '[1889.]',
 '[1896]',
 '1896',
 '1896',
 '1787',
 '1788',
 '1890',
 '1891',
 '1893',
 '1870-80',
 '1830',
 '1883',
 '1882',
 '1898',
 '1891',
 '1873',
 '1816',
 '1889',
 '1814',
 '1607',
 '1889',
 '1865',
 '[1897.]',
 '1892',
 '1870',
 '1861 [1860]',
 '[1866.]',
 '1893',
 '1826',
 '1890',
 '1854-59',
 '1890',
 '1873',
 '[1896]',
 '[1886.]',
 '[1851.]',
 '1808',
 '1856',
 '1879',
 '1894',
 '1899',
 '1879',
 '1893',
 '1882',
 '1884',
 '1847',
 '1868',
 '1854',
 '1898',
 '1898',
 '[1889]',
 '[1890]',
 '1856',
 '1886',
 '1869',
 '1871',
 '1896',
 '1895',
 '[1897]',
 '1885, [1884]',
 '1886',
 '1889',
 '1878',
 '[1878]',
 '1895',
 '1878',
 '[1844-47]',
 '1833',
 '1894',
 '1819',
 '[c. 1820.]',
 '1850',
 '[1848?]',
 '1873',
 '1884',
 '1861',
 '1884',
 '1880',
 '1886, [1885]',
 '1875',
 '1825, 1826',
 '1821',
 '1864',
 '1852',
 '1889',
 '1884',
 '1888',
 '1863',
 '1883',
 '1796',
 '[1848.]',
 '1882',
 '1899',
 '1860-77',
 '1899]',
 '1833',
 '1843',
 '1898?]',
 '1828',
 '1811',
 '1881',
 '1882',
 '1801, [1805?]-15',
 '[1818]',
 '1881',
 '1871',
 '1867',
 '1867',
 '1876',
 '1899',
 '1883',
 '1896',
 '1878',
 '[1879]',
 '1657',
 '1877',
 '1897 [1896]',
 '[1897.]',
 '[1899.]',
 '1792',
 '1842',
 '1890',
 '1827',
 '1831',
 ...]

In [41]:
unwanted_characters = ['[', ',', '-']

def clean_dates(dop):
    dop = str(dop)
    if dop.startswith('[') or dop == 'nan':
        return 'NaN'
    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]
    return dop

df['Date of Publication'] = df['Date of Publication'].apply(clean_dates)

In [42]:
df['Date of Publication']

0       1879
1        1868
2        1869
3        1851
4        1857
5        1875
6        1872
7         NaN
8        1676
9        1679
10       1802
11       1859
12       1888
13       1839
14       1897
15       1865
16       1860
17       1873
18       1866
19       1899
20       1814
21       1820
22       1800
23       1847
24        NaN
25        NaN
26       1893
27       1805
28       1837
29       1896
        ...
8257      NaN
8258     1896
8259      NaN
8260      NaN
8261     1750
8262     1879
8263      NaN
8264     1889
8265      NaN
8266     1876
8267      NaN
8268      NaN
8269     1708
8270      NaN
8271     1777
8272      NaN
8273     1866
8274     1862
8275     1894
8276     1868
8277     1882
8278     1883
8279     1898
8280     1811
8281     1867
8282     1838
8283     1831
8284      NaN
8285     1834
8286     1834
Name: Date of Publication, Length: 8287, dtype: object

In [46]:
#letsDrop the NaN values in Date of Publication

df.drop(axis=0,labels="NaN")

KeyError: "['NaN'] not found in axis"